<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Contacts.html</welcome-file>
  </welcome-file-list>

  <context-param>
    <param-name>gwt.xsrf.session_cookie_name</param-name>
    <param-value>JSESSIONID</param-value>
  </context-param>

  <servlet>
    <servlet-name>xsrf</servlet-name>
    <servlet-class>
      com.google.gwt.user.server.rpc.XsrfTokenServiceServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xsrf</servlet-name>
    <url-pattern>/contacts/xsrf</url-pattern>
  </servlet-mapping>

</web-app>
