<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Contacts.html</welcome-file>
  </welcome-file-list>


  <servlet>
    <servlet-name>remoteLoggingServlet</servlet-name>
    <servlet-class>com.google.gwt.logging.server.RemoteLoggingServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>remoteLoggingServlet</servlet-name>
    <url-pattern>/contacts/remote_logging</url-pattern>
  </servlet-mapping>

  <context-param>
    <param-name>gwt.xsrf.session_cookie_name</param-name>
    <param-value>JSESSIONID</param-value>
  </context-param>

  <servlet>
    <servlet-name>xsrf</servlet-name>
    <servlet-class>com.google.gwt.user.server.rpc.XsrfTokenServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xsrf</servlet-name>
    <url-pattern>/xsrf</url-pattern>
  </servlet-mapping>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Contacts Realm</web-resource-name>
      <url-pattern>/*</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
  </security-constraint>

  <!-- LOGIN CONFIGURATION -->
  <login-config>
    <auth-method>BASIC</auth-method>
  </login-config>

  <session-config>
    <session-timeout>30</session-timeout>
    <cookie-config>
      <name>JSESSIONID</name>
    </cookie-config>
    <tracking-mode>COOKIE</tracking-mode>
  </session-config>

</web-app>
