.contacts-ListRow td {
  border-bottom: 1px solid #E2E2E2;
}

table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  border-spacing: 0;
}

td {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  border-spacing: 0;
}

th, td {
  padding: 0;
}

td.add-contact-label {
  text-align: left;
}

add-contact-input {
  border: 1px solid red;
  border-collapse: collapse;
  margin-right: 0;
  margin-left: auto;
}

td.contacts-NavContainer {
  padding-left: 10px;
  padding-right: 10px;
}

td.contacts-ListMenu {
  background-color: #D0E4F6;
  padding-bottom: 6px;
}

td.contacts-ListContainer {
  padding-right: 10px;
}

.contacts-HeaderContainer {
  padding-right: 10px;
}

td.contacts-ListCheckbox {
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
}

td.contacts-ListName {
  padding-top: 2px;
  padding-bottom: 2px;
}

.gwt-DecoratorPanel .middleCenter {
   height: 100%;
   width: 100%;
 }
